@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
:root{
    --primary-color:#D12222;
    --primary-color-light:#E14545;
    --color-grey : #E2DFDF;
    --color-brown : #CAAB7C;
    --color-dark-grey : #534F49;
}
*{
    box-sizing: border-box;
    font-family:'Roboto'
}
a{
    color:inherit;
    text-decoration: none;
}
html,body{
    margin:0;
    padding:0;
    width:100%;
    height:100%;
}

.header{
    background-color: var(--primary-color);
    position: absolute;
    top: 0px; left: 0px;
    width : 20%;
    height : 100%;

}

.red-gradient{
    background-image: linear-gradient(to bottom,var(--primary-color),var(--primary-color-light)) ;
}

.grey{
    background-color : var(--color-grey);
}

.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.round-form-container{
    border-radius:10px;
    width : 30vw;
    height : 85%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding : 50px 25px;

}


.input-box,.select-box {
    position: relative;
    width:70%;
  }
  
  .input-box input {
    border-style: none;
    background: transparent;
    border-bottom: 1px solid black;
    width: 100%;
    position: relative;
    outline: none;
    padding: 10px 0;
    color: black;
    font-size: 18px;
    margin-bottom: 30px;
  }
 
  .select-box select{
    width:100%;
    outline: none;
    padding: 10px 0;
    color: black;
    font-size: 16px;
    margin-top: 20px;
    border-radius: 0;
    background: none;
    border:1px solid black;
  }

  .number-box input{
    width:100%;
    outline: none;
    padding: 10px 0;
    color: black;
    font-size: 16px;
    margin-top: 20px;
    border-radius: 0;
    background: none;
    border : none;
    border-bottom:1px solid black;
  }

  .input-box label {
    color: black;
    position: absolute;
    padding: 10px 0;
    top: 0;
    left: 0;
    pointer-events: none;
    transition: 0.5s;
  }
  
  .input-box input:focus ~ label,
  .input-box input:valid ~ label {
    color: var(--primary-color-light);
    font-size: 16px;
    top: -20px;
    transition: 0.5s;
  }
input[type="submit"]{
    color:var(--primary-color-light);
    border : 2px solid var(--primary-color-light);
    padding : 15px 30px;
    background-color: transparent;
    font-size: 18px;
    cursor: pointer;
    font-weight: 700;
}
input[type="submit"]:hover{
    background-color: var(--primary-color-light);
    color: white;
}
.form-link:hover{
    color:var(--primary-color);
}
.final-submit{
    margin-bottom: 100px;
}

.quizzContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width:100%;
    color: var(--color-dark-grey);
    height : 80%;
}
.quizzContainer h2{
    font-size : 30px;
}
.quizzContainer input{
    width:70%;
    font-size : 16px;
    padding : 10px 0;
    color :  var(--color-brown);
    border : 1px solid var(--color-brown);
    margin : 5px;
}

.quizzContainer .correct{
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}
.quizzContainer .wrong{
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}